li.MuiGridListTile-root .MuiGridListTile-tile {
    position: relative;
    overflow: hidden;
}
li.MuiGridListTile-root .MuiGridListTile-tile img {
    position: absolute;
    left: 0;
    transform: translate(50%, -50%);
    padding: 10px;
    transition: 0.5s transform;
    height: 100%;
    width: auto;
}
li.MuiGridListTile-root .MuiGridListTile-tile:hover img {
    transform: translate(50%, -50%) scale(1.06) rotate(5deg);
    transition: 0.5s transform;
}