li.MuiGridListTile-root .MuiGridListTile-tile {
    position: relative;
    overflow: hidden;
}
li.MuiGridListTile-root .MuiGridListTile-tile img {
    transform: translate(0, -50%);
    transition: 0.5s transform;
    height: 100%;
    width: auto;
}
li.MuiGridListTile-root .MuiGridListTile-tile:hover img {
    transform: translate(0, -50%) scale(1.06) rotate(5deg);
    transition: 0.5s transform;
}